pandas  # Para manipulação de DataFrames
streamlit  # Para criar a interface web
matplotlib  # Para geração de gráficos
seaborn  # Para visualização e melhoria dos gráficos (se utilizado)
openpyxl  # Para trabalhar com arquivos Excel (.xlsx)
streamlit-aggrid
numpy
unicode
